docs/xml/socios.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- Tipo para el DNI: 8 dígitos seguidos de una letra mayúscula -->
    <xs:simpleType name="tipoDNI">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{8}[A-Z]"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Tipo para el teléfono: 9 dígitos, empieza por 6 o 7 -->
    <xs:simpleType name="tipoTelefono">
        <xs:restriction base="xs:string">
            <xs:pattern value="[67][0-9]{8}"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Tipo para el email: debe contener @ y al menos un punto después -->
    <xs:simpleType name="tipoEmail">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Tipo para el nombre/apellidos: mínimo 2 caracteres, máximo 50 -->
    <xs:simpleType name="tipoNombre">
        <xs:restriction base="xs:string">
            <xs:minLength value="2"/>
            <xs:maxLength value="50"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="socios">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="socio" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="nombre"     type="tipoNombre"/>
                            <xs:element name="apellidos"  type="tipoNombre"/>
                            <xs:element name="dni"        type="tipoDNI"/>
                            <xs:element name="email"      type="tipoEmail"/>
                            <xs:element name="telefono"   type="tipoTelefono"/>
                            <xs:element name="fecha_alta" type="xs:date"/>
                            <xs:element name="fecha_baja" type="xs:date" minOccurs="0"/>
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:positiveInteger" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
